
<nav class="navbar navbar- " style="background-color: blue;" >
    <div class="container-fluid">
        <div class="row">
      <a class="navbar-brand" style="font-size: xx-large;font: weight 400px;color: white;text-shadow: 2px 2px 9px black;"><h1> <i class="fa-solid fa-list-ol"></i> TODOS</h1></a>
      
        <!-- <span class="input-group-text border-0" id="search-addon"> -->
          
        <!-- </span> -->
        <a  class="nav-link" href="#">
            <span style="position: absolute;right: 2%; top: 39%; width: 3px;" class="badge badge-pill bg-danger">5</span>
            <span style="position: absolute;right: 4%; top: 14%;width: 9px;font-weight: 700;font-size: x-large;"><i class="fa-solid fa-envelopes-bulk text-light"></i></span>
          </a>

    </div>
    </div>
  </nav>